body {
    font-family: 'Segoe UI', sans-serif;
}

.resourceTable {
    padding: 4px 7px 2px 4px;
    margin-top: -20px;
}

.resourcesPanel {
    width: 300px;
}

.debugInfoPanel {
}

.actionsPanel {
    width: 320px;
    float:left;
}

.debugLogPanel {
}

.gameLog {
    float:left;
    max-width: 400px;
    min-width: 300px;
    background-color:azure;
}

.debugLog {
    float:left;
    max-width: 400px;
    min-width: 300px;
    background-color:azure;
}

.action {
    margin: 10px;
    width:300px;
    cursor:default;
}

.actionList {
    list-style-type: none;
    padding:0px;
}

.actionCanvas {
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.actionHeader {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
    height: 35px;
    position: relative;
    padding-top: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.actionHeader_Available {
    background-color: #34792e;
}

.actionHeader_Unavailable {
    background-color: #753a35;
}
.actionHeader_Progress {
    background-color: #18316d;
}

.actionHeaderText {
    position:absolute;
    font-weight: bold;
    z-index: 1;
    margin: auto;
    left:0; right:0;
}

.actionHeaderProgress {
    position:absolute;
    font-size:small;
    z-index: 1;
    right:5px;
    top: 0;
}

.actionContent {
    padding: 12px 5px 5px 5px;
    background-color:#716a4a;
    color:white;
}

.actionContentText {
    padding-left: 20px;
}

.actionContent_Requirement {
    padding-left: 40px;
}

.actionButton {
    margin: 0 auto;
    display: inline-block;
}

.actionButtonContainer {
    padding-top: 5px;
    text-align: center;
}

.gameLogEntry {
    background-color:beige;
    margin: 3px;
}

.testTooltipable {
    position:relative;
}

.testTooltipable div.testTooltip{
  margin-left: -999em;
  position: absolute;
}

.testTooltipable:hover div.testTooltip {
  position: absolute;
  left: 302px;
  top: 0;
  z-index: 99;
  margin-left: 0;
  width: 350px;
}

.tooltipHeader {
    background: #b6a75f;
}

.tooltipContent {
    padding: 0 0.4em 0.8em 0.4em;
    background: #716a4a;
    color:white;
}

.tooltipLastOutcome {
    color: #fcffaa;
}


.tooltipTable {
    
}