body {
    font-family: 'Segoe UI', sans-serif;
}

.resourceTable {
    padding: 4px 7px 2px 4px;
    margin-top: -20px;
}

.resourcesPanel {
    width: 300px;
}

.debugInfoPanel {
}

.actionsPanel {
    width: 320px;
    float:left;
}

.debugLogPanel {
}

.gameLog {
    float:left;
    max-width: 400px;
    min-width: 300px;
    background-color:azure;
}

.debugLog {
    float:left;
    max-width: 400px;
    min-width: 300px;
    background-color:azure;
}

.action {
    margin: 10px;
    width:300px;
    cursor:default;
}

.actionList {
    list-style-type: none;
    padding:0px;
}

.actionCanvas {
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.actionHeader {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
    height: 35px;
    position: relative;
    padding-top: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.actionHeader_Available {
    background-color: #34792e;
}

.actionHeader_Unavailable {
    background-color: #753a35;
}
.actionHeader_Progress {
    background-color: #18316d;
}

.actionHeaderText {
    position:absolute;
    font-weight: bold;
    z-index: 1;
    margin: auto;
    left:0; right:0;
}

.actionHeaderProgress {
    position:absolute;
    font-size:small;
    z-index: 1;
    right:5px;
    top: 0;
}

.actionContent {
    padding: 12px 5px 5px 5px;
    background-color:#716a4a;
    color:white;
}

.actionContentText {
    padding-left: 20px;
}

.actionContent_Requirement {
    padding-left: 40px;
}

.actionButton {
    margin: 0 auto;
    display: inline-block;
}

.actionButtonContainer {
    padding-top: 5px;
    text-align: center;
}

.gameLogEntry {
    background-color:beige;
    margin: 3px;
}

.testTooltipable {
    position:relative;
}

.testTooltipable div.testTooltip{
  margin-left: -999em;
  position: absolute;
}

.testTooltipable:hover div.testTooltip {
  position: absolute;
  left: 302px;
  top: 0;
  z-index: 99;
  margin-left: 0;
  width: 350px;
}

.tooltipHeader {
    background: #b6a75f;
}

.actionTooltipContent {
    padding: 0 0.4em 0.8em 0.4em;
    background: #716a4a;
    color:white;
}

.actionResearchTooltipContent {
    padding: 8px 10px 10px 15px;
    background: #9999ff;
    font-weight:bold;
    color:white;
}

.tooltipLastOutcome {
    color: #fcffaa;
}

.baseTooltipable{
    position:relative;
}

.baseTooltipable div.baseTooltip{
    position: absolute;
    left: 302px;
    top: 0;
    z-index: 99;
    display:none;
}

.baseTooltipable:hover div.baseTooltip{
    position:absolute;
    z-index: 99;
    margin-left: 0;
    display:block;
}



/* Technology=========================================================================================================================================
======================================================================================================================================================*/

.researchUI {
    text-align: center; 
    position: absolute;   
}

.techHeader {
    position:relative;
    text-align: center; 
    color:#fcffaa;
    font-size:larger;
    font-weight:bold;
}

.techDescContainer {
    color:white;
    position:absolute;
    width:350px;
    z-index:99;
}

.techDesc {
    padding:10px;
    background:#716a4a;
    position:relative;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.techDiscount {
    font-size: small;
    font-style:italic;
}

.techResearch {
    font-weight:bold;   
}

.reseqrchReqList {
    list-style-type: none;
    padding:0px; 
}

.reseqrchReqListItem {
    position:relative;
    text-align: center;    
}

.unavailableTech {
    color:#ff6359;
    font-weight: bold;    
}

.availableTech {
    color:#ced4f7;
    font-weight: bold;    
}