body {
    font-family: 'Segoe UI', sans-serif;
}


.resourceTable {
    padding: 4px 7px 2px 4px;
    margin-top: -20px;
}

.action {
    max-width:300px;
    cursor:default;
}

.actionHeader_Available {
    border: 2px solid black;
    background-color: #90ff87;
    text-align: center;
}

.actionHeaderText_Available {
    font-weight: bold;
    text-align:center;
}

.actionHeader_Unavailable {
    border: 2px solid black;
    background-color: #ff9087;
    text-align: center;
}

.actionHeaderText_Unavailable {
    text-align:center;
}

.actionContent {
    border: 1px solid black;
    margin: -1px 5px 5px 5px;
    padding: 0px 5px 5px 5px;
}

.actionContentText {
    padding-left: 20px;
}

.actionContent_Requirement {
    padding-left: 40px;
}

.actionButton {
    margin: 0 auto;
    display: inline-block;
}

.actionButtonContainer {
    text-align: center;
}

